<%= form_with(model: prospect, local: true) do |form| %>
  <% if prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
      <% prospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :prospect_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :prospect_lastname %>
  </div>

  <div class="field">
    <%= form.label :streetaddress %>
    <%= form.text_field :streetaddress, id: :prospect_streetaddress %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :prospect_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :prospect_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :prospect_zip %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :prospect_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
